@page
@model wfb.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClsUsers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClsUsers.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClsUsers.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClsUsers.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClsUsers.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClsUsers.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClsUsers.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClsUsers.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClsUsers.Phone)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ClsUsers.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
